<!DOCTYPE html>
<html>
  <head>
    <title><%= users %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= users %></h1>
    <p>Welcome to <%= users %></p>
      <form action="/<%= photos %>"  method="post">
        <button title="/<%= users %>" ></button>
      </form>
  </body>
</html>
